# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# Django
db.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage